.header{
    background: linear-gradient(45deg,#1a1e5a 0,#122d98 100%);
    min-height: 75px;
    width:100%;
    display: table;
    border-bottom: 4px solid #f7b600;
    margin-bottom: -3%;
}
.fields{
    display: table-cell;
    color:white;
    vertical-align: middle;
    font-family: sans-serif;
}
.fields:hover{
    color: #f7b600;
    cursor: pointer;
}
.animate{
    background:red;overflow:hidden;
    height: 80px;
    margin-top: -1%;
    }
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.fa-angle-up{
    font-size: 50px;
    color: #f7b600;
}